.container {
  font-family: "Poppins", sans-serif;
  width: 100%;
}

/* Left side */
.leftContainer {
  background-image: url(../Assets/backgroundLeft.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  width: 38%;
  height: 100%;
  position: fixed;
}

.leftContent {
  text-align: end;
  margin-right: 30px;
}

.profileImg {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 100%;
  margin-top: 15vh;
  margin-bottom: 35px;
}

.introductionTitle {
  font-size: 28px;
  letter-spacing: 1px;
  color: #fff;
  margin-bottom: 10px;
}

.introductionContent {
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 1px;
  line-height: 1.8;
  color: #ccc;
}

.introductionContent span {
  color: #fff;
}

.iconContainer {
  margin-top: 150px;
  margin-right: 10px;
}

.icon {
  color: #ccc;
  display: inline-block;
  margin-left: 27px;
  margin-top: 60px;
  font-size: 27px;
}

.icon:hover {
  color: #fff;
  transition: 0.3s;
}

.copyright {
  margin-top: 20px;
  color: #ccc;
  font-size: 12px;
}

/* Right side */
.rightContainer {
  width: 62%;
  height: 100%;
  position: relative;
  float: right;
  overflow-y: scroll;
  padding-inline: 80px;
}

.resumeDownload {
  margin-top: 2vh;
  text-align: end;
}

.resumeLink {
  color: #858585;
  text-decoration: none;
}

.resumeLink:hover {
  color: #282828;
  text-decoration: none;
}

.contentContainer {
  display: grid;
  text-align: left;
  gap: 30px;
}

.contentHeading {
  font-size: 25px;
  font-family: "Source Sans Pro", sans-serif;
  letter-spacing: 2px;
  color: #282828;
}

.contentText {
  width: 80%;
  color: #858585;
  font-size: 14px;
  letter-spacing: .4px;
  line-height: 2;
}

.divider {
  margin: 50px 0;
  color: #858585;
}

.workContainer {
  display: flex;
  align-items: center;
  gap: 20px; 
  margin: 20px 0;
}

.workImgContainer img {
  width: 100%;
  border-radius: 4px;
}

.workImgContainer,
.workTextContainer {
  flex: 1;
  color: #858585; 
  align-items: center;
}

.workHeading {
  padding-left: 1rem;
  color: #282828;
}

.customBullets {
  padding-left: 30px; 
  font-size: 14px;
  letter-spacing: .4px;
  line-height: 2;
}

.customBullets li::marker {
  font-size: 0.6em;
  color: #858585;
}

.cardTitle {
  margin-top: 5px;
  letter-spacing: 1px;
  font-size: 18px;
}

.cardTitle a {
  color: #000;
  text-decoration: none;
}

.cardTitle:hover {
  color: #000;
}

.technologies {
  color: #858585;
  font-size: 15px;
}

.footer {
  margin-bottom: 40px;
}

@media (max-width: 967px) {
  .leftContainer {
    width: 100%;
    position: relative;
  }

  .leftContent {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .profileImg {
    margin-top: 10vh;
  }

  .icon {
    font-size: 25px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 35px;
  }

  .iconContainer {
    margin-top: 50px;
  }

  .copyright {
    padding-bottom: 30px;
  }

  .rightContainer {
    width: 100%;
  }

  .resumeLink {
    font-size: 14px;
  }

  .cardTitle {
    font-size: 17px;
  }

  .technologies {
    font-size: 12px;
  }
}

@media (max-width: 600px) {
  .contentText {
    font-size: 12px;
  }
}
